article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$black: #212121;
$red: #D32F2F;
$lred: #F44336;
$llred: #FF5252;
$pink: #FFCDD2;
$yell: #FAFFBD;
$lg:#B6B6B6;
$g: #727272;

$shadow: 0px 5px 10px rgba(0,0,0,0.3);



$lato: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$marker: "Permanent Marker", "Helvetica Neue", "Helvetica", Arial, sans-serif;



body {
	background-color: #212121;
	color:white;
	text-align: center;
	letter-spacing: 1px;
	font-family: $lato;
	width: 100%;

}

a {
	color:$yell;
	text-decoration: none;
	&:hover {
		color: $lred;
		border-bottom:1px dotted $red;
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 200;
	margin-top: 100px;
	margin-bottom: 0;

}

.submitButton {
	flex:1 0 100px;
	max-width: 100px;
	margin:10px;
	height:100px;
	border:none;
	border-radius: 50px;
	background-color: $llred;
	box-shadow: none;
	color: $black;
	letter-spacing: 1px;		
	text-transform: uppercase;
	&:focus, &:hover {
		outline: white;
		box-shadow: $shadow;
	}
}

form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width:100%;
	text-align: center;
	padding:40px 10px 10px;

	input[type=search]{
		flex:10 0 auto;
		// width: 100%;
		max-width:550px;
		font-size: 50px;
		border-radius: 70px;
		border:none;
		padding:10px 30px;
		font-family: $marker;
 		letter-spacing: 2px;
 		background-color: $yell;
 		margin-right:10px;
 		@media (max-width:768px) {
 			width:80%;
 			font-size: 35px;
 		}
		&:focus, &:hover {
			outline: white;
			border-radius: 70px;
			box-shadow: $shadow;
		}
	}
}

details {
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
	line-height: 15px;
	color:$g;
	margin-top: 20px;
	padding-top: 0;
	ul {
		list-style-type: none;
	}
	summary {
		&:focus, &:hover {
			outline: white;
			text-shadow: $shadow;
	}
	}
}

.bandTitle {
	h2 {
		margin: 0 auto;
		color:$llred;
		text-shadow: $shadow;
	}
	clear:both;
	padding:40px;
	margin:10px;
	margin:auto;
}


.infoFlex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	max-width: 900px;
	margin: 0 auto;
}

.bandTitle {
	flex:1 0 100%;
	// border:1px solid blue;
	padding: 20px;
	h2{
		margin: 0 auto;
		margin-bottom: 0;
		color:$llred;
		font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 60px;
		text-shadow: $shadow;
		@media (max-width:768px) {
			font-size: 40px;
			line-height: 40px;
			text-align: center;
		}
	}
}

ul.genreArray {
	padding:10px 40px;
	flex:1 0 100%;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	h4{
		padding: 00px;
		margin: 0;
		flex:1 0 auto;
		line-height: 20px;
		font-size: 20px;
		color: $lg;
		text-shadow: $shadow;
		@media (max-width:768px) {
			font-size: 15px;
			line-height: 15px;
			text-align: center;
		}
	}
	li{
		font-weight: 200;
		padding:10px;
		flex:1 0 auto;
		line-height: 20px;
		font-size: 20px;
		color:$g;
		@media (max-width:768px) {
			font-size: 15px;
			line-height: 15px;
			text-align: center;
		}
	}
}

.bandImage {
	flex:1 0 45%;
	@media (max-width:768px) {
		flex: 1 0 40%;
	}
	@media (max-width:695px) {
		flex: 1 0 75%;
	}

	.imageContainer {
		padding:20px;
		max-height: 50vh;
		// max-width: 45%;
		img{
			height: 50vh;
			max-width: 100%;
			margin-right: 30px;
			border-radius: 30px;
			box-shadow: $shadow;
		}
	}

}


.bandInfo {
	flex:1 0 50%;
	width:100%;
	@media (max-width:768px) {
		flex: 1 0 60%;
	}
	p {	
		text-align: left;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 1px;
		font-weight: 100;
		padding:0px 20px;
	}


}

.lowerFlex {
	padding:20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}


.similarArray {
	flex: 1 0 100%;
	padding-left: 0px;
	padding:0px 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	// border:1px solid hotpink;
	@media (max-width:560px) {
		font-size: 40px;
		line-height: 40px;
		text-align: center;
	}

	h4 {
		flex:1 0 100%;
		letter-spacing: 5px;
		text-align: center;
		color:$lg;
		font-weight: 300;
		font-size: 30px;
		margin: 0;
		padding: 0;
		line-height: 40px;
		text-transform: uppercase;
		height:40px;
		margin:10px;
		@media (max-width:768px) {
			font-size: 20px;
		}

	}
	li {
		background-color: $red;
		text-transform: uppercase;
		border-radius: 30px;
		text-align: center;
		flex:1 0 auto;
		padding:10px 30px;
		color:#FFFFFF;
		list-style-type: none;
		display: block;
		margin:10px;
		height: 50px;
		font-size: 30px;
		line-height: 30px;
		box-shadow: $shadow;
		@media (max-width:768px) {
			font-size: 20px;
			line-height: 20px;
			text-align: center;
			height: 40px;
		}
	}
}

.videoTitle {
	flex:1 0 100%;
	letter-spacing: 5px;
	text-align: center;
	color:$lg;
	font-weight: 300;
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 40px;
	text-transform: uppercase;
	height:40px;
	margin:10px;
	@media (max-width:768px) {
		font-size: 20px;
	}
}


.albumContainer {
	flex:1 0 300px;
	// border:1px solid mediumseagreen;
	padding-top: 30px;
	@media (max-width:1050px) {
		// flex: 1 0 100%;
	}
}


.tracksContainer {
	flex: 1 0 50%;
	// border:1px solid green;
	ul {
		margin:auto;
		width:100%;
		padding-left: 0;
		list-style-type: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		@media (max-width:420px) {
			width:100%;
		}
		li {
			max-width:100%;
			padding:10px 0px;
			flex:1 0 200px;
			@media (max-width:1050px) {
				flex: 1 0 50%;
			}
			@media (max-width:420px) {
				// flex: 1 0 100%;
				padding:10px 0px;
			}
		}
	}
}

iframe {
	box-shadow: $shadow;
}

h3.discoverMore {
	display:none;
	flex:1 0 100%;
	margin-top:20px;
	background-color: $llred;
	border-radius: 50px;
	box-shadow: $shadow;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 5px;
	border-radius: 70px;
	text-align: center;
	padding:10px 30px;
	color:#FFFFFF;
	list-style-type: none;
	// height: 50px;
	font-size: 30px;
	line-height: 30px;
	&:focus, &:hover {
		// outline: white;
		border-radius: 50px;
		// box-shadow: 0px 5px 10px black;
	}
	@media (max-width:768px) {
		font-size: 20px;
	}
	a{
		transition:all 0.5s;
		color:white;
		&:focus, &:hover {
			font-size: 32px;
			border-bottom: none;
		}
	}
}

.visible {
	display:block;
}

footer p {
	margin:50px 40px 10px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 5px;
	color:rgba(255,255,255,0.2);
	a{
		color:rgba(255,255,255,0.3);
	}
}
